<style>
    .showInput {
        position:absolute;
        height:100px;
        width:100px;
        border: none;
        left: 40%;
        top: 45%;
        font-size:70px;
        text-align: center;
        z-index: 100;
        display:none;
        background: rgba(255, 255, 255, 1);
    }
    .animatee {
       opacity: 0 !important;
       transition: opacity 1.60s ease 0s;
     }
</style>

<div class="container-keyboard" (touchstart)="onTouchStart($event)" (touchend)="onTouchEnd()"
    (touchmove)="onSwipe($event)">

    <div class="d-flex flex-row justify-content-around">
        <div id="d6" class="container-button">
            <img id="i6" class="icon-button" src="assets/keyboard/icons-button/6.png" alt="6">
        </div>
        <div id="d5" class="container-button">
            <img id="i5" class="icon-button" src="assets/keyboard/icons-button/5.png" alt="5">
        </div>
        <div id="d4" class="container-button">
            <img id="i4" class="icon-button" src="assets/keyboard/icons-button/4.png" alt="4">
        </div>
    </div>

    <div class="d-flex flex-row justify-content-around">
        <div id="d3" class="container-button">
            <img id="i3" class="icon-button" src="assets/keyboard/icons-button/3.png" alt="3">
        </div>
        <div id="d2" class="container-button">
            <img id="i2" class="icon-button" src="assets/keyboard/icons-button/2.png" alt="2">
        </div>
        <div id="d1" class="container-button">
            <img id="i1" class="icon-button" src="assets/keyboard/icons-button/1.png" alt="1">
        </div>
    </div>
    <div class="showInput" id="showInput" role="textbox" aria-label="just typed letter">
    </div>
</div>

