.container-app{
  display: block;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}
.result{
  height: 10vh;
  width: 100vw;
  border-bottom: black 2px solid;
}

.keyboard{
  height: 90vh;
  width: 100vw;
}
